## file Load

In [1]:
import pandas as pd
# import seaborn as sns
import matplotlib as mpl
import matplotlib.pylab as plt
import json
# 지도 매핑
import folium
# 한글깨짐 해결
plt.rcParams["font.family"] = "Malgun Gothic"
plt.rcParams["font.size"] = 12
plt.rcParams["figure.figsize"] = (14,4)
# 마이너스 깨짐 해결
mpl.rcParams['axes.unicode_minus'] = False

In [2]:
import geopandas as gpd
from shapely.geometry.polygon import Polygon
import cartopy.crs as ccrs
import cartopy.feature as cfeature
from folium.features import GeoJson

In [13]:
df = gpd.read_file('./PJT001_h_100m_cell_flow.geojson')

In [4]:
m = folium.Map(location=[37.176704, 126.870683], zoom_start=5)
for index, row in df.iterrows():
    GeoJson(
        row['geometry'],
        name='geojson'
    ).add_to(m)

In [5]:
m.save("test.html")

In [14]:
temp_df = df

In [15]:
temp_df

,id,ymd,t00_01,t01_02,t02_03,t03_04,t04_05,t05_06,t06_07,t07_08,...,t16_17,t17_18,t18_19,t19_20,t20_21,t21_22,t22_23,t23_24,emd_cd,geometry
0,3573,20180701,0.07,0.35,0.07,NaN,NaN,0.14,0.07,0.42,...,0.42,0.21,0.21,0.14,0.14,0.28,0.14,0.21,41590370,"POLYGON ((126.8681260756423 37.09967182993606,..."
1,3574,20180701,0.01,NaN,NaN,NaN,0.01,0.01,0.01,0.03,...,0.03,0.04,0.03,0.02,0.02,0.01,0.02,0.01,41590370,"POLYGON ((126.8715023433864 37.09877446989289,..."
2,3575,20180701,0.01,NaN,NaN,NaN,0.01,0.01,0.01,0.03,...,0.03,0.04,0.03,0.02,0.02,0.01,0.02,0.01,41590370,"POLYGON ((126.8715008216042 37.09967553491189,..."
3,3576,20180701,0.01,0.02,0.01,NaN,NaN,0.03,0.09,0.17,...,0.16,0.14,0.14,0.07,0.06,0.05,0.01,0.02,41590370,"POLYGON ((126.8692494423992 37.10057414040105,..."
4,3577,20180701,NaN,NaN,0.01,NaN,NaN,NaN,0.01,0.01,...,0.01,0.02,0.02,0.01,0.01,NaN,NaN,NaN,41590370,"POLYGON ((126.8714977778368 37.10147766453797,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136566,3568,20180701,1.78,1.68,1.99,1.40,0.38,3.28,3.21,6.20,...,7.33,6.04,4.78,3.07,2.68,2.05,1.06,0.97,41590370,"POLYGON ((126.862498243503 37.10146757052151, ..."
136567,3569,20180701,0.77,0.99,0.60,0.24,0.40,0.74,1.69,5.33,...,5.24,3.98,4.56,2.88,2.00,2.39,1.23,0.75,41590370,"POLYGON ((126.8636231850474 37.10146886962539,..."
136568,3570,20180701,0.48,0.36,0.24,0.12,0.24,0.36,1.08,4.43,...,3.83,2.75,3.23,2.03,0.96,2.27,0.72,0.24,41590370,"POLYGON ((126.8681276373904 37.09877076503741,..."
136569,3571,20180701,0.50,0.37,0.25,0.12,0.25,0.37,1.12,4.58,...,3.96,2.84,3.34,2.10,0.99,2.35,0.74,0.25,41590370,"POLYGON ((126.8692525393204 37.09877201066015,..."
136570,3572,20180701,0.01,0.01,0.01,NaN,NaN,0.01,0.01,0.03,...,0.02,0.03,0.02,0.01,0.02,0.01,NaN,0.01,41590370,"POLYGON ((126.8703774413192 37.09877324561198,..."

In [12]:
for index,d_row in temp_df.iterrows():
    if d_row[]

NameError: name 'features' is not defined