In [5]:
import pandas as pd
# import seaborn as sns
import matplotlib as mpl
import matplotlib.pylab as plt
import json
# 지도 매핑
import folium
# 한글깨짐 해결
plt.rcParams["font.family"] = "Malgun Gothic"
plt.rcParams["font.size"] = 12
plt.rcParams["figure.figsize"] = (14,4)
# 마이너스 깨짐 해결
mpl.rcParams['axes.unicode_minus'] = False

In [13]:
tripchain = pd.read_csv("./PJT001_TripChain.csv")

### 카운트 시작

In [66]:
count_data = pd.DataFrame() 
tripchain.columns

Index(['암호화카드번호||'', ''||트랜잭션ID||'', ''||환승횟수||'', ''||교통카드발행사ID||'',
       ''||총이용객수||'', ''||사용자구분||'', ''||교통수단CD1||'', ''||교통수단CD2||'',
       ''||교통수단CD3||'', ''||교통수단CD4||'', ''||교통수단CD5||'', ''||버스노선ID1||'',
       ''||버스노선ID2||'', ''||버스노선ID3||'', ''||버스노선ID4||'', ''||버스노선ID5||'',
       ''||차량ID1||'', ''||차량ID2||'', ''||차량ID3||'', ''||차량ID4||'',
       ''||차량ID5||'', ''||총통행거리||'', ''||총탑승시간||'', ''||총소요시간||'',
       ''||승차일시1||'', ''||승차일시2||'', ''||승차일시3||'', ''||승차일시4||'',
       ''||승차일시5||'', ''||하차일시1||'', ''||하차일시2||'', ''||하차일시3||'',
       ''||하차일시4||'', ''||하차일시5||'', ''||최초승차일시||'', ''||최종하차일시||'',
       ''||승차역ID1||'', ''||승차역ID2||'', ''||승차역ID3||'', ''||승차역ID4||'',
       ''||승차역ID5||'', ''||하차역ID1||'', ''||하차역ID2||'', ''||하차역ID3||'',
       ''||하차역ID4||'', ''||하차역ID5||'', ''||최초승차역ID||'', ''||최종하차역ID||'',
       ''||총이용금액||'', ''||수집건수||'', ''||트립체인완료코드'],
      dtype='object')

### 승차역 카운트

In [67]:
count_data["startCount"] = tripchain.groupby("'||승차역ID1||'")["'||승차역ID1||'"].count()

### 하차역 카운트

In [68]:
count_data["end_count"] = tripchain.groupby("'||최종하차역ID||'")["'||최종하차역ID||'"].count()

## 환승 카운트

In [69]:
count_data["transfer_count"] = tripchain.groupby("'||승차역ID2||'")["'||승차역ID2||'"].count()
count_data["transfer_count"]+= tripchain.groupby("'||승차역ID3||'")["'||승차역ID3||'"].count()
# 아래 데이터 안나옴 
# count_data["transfer_count"]  += tripchain.groupby("'||승차역ID4||'")["'||승차역ID4||'"].count()
# count_data["transfer_count"]  += tripchain.groupby("'||승차역ID5||'")["'||승차역ID5||'"].count()

In [71]:
count_data

              startCount  end_count  transfer_count
'||승차역ID1||'
0.0                    1        NaN             NaN
150.0                222      237.0           163.0
151.0                199      196.0            47.0
152.0                304      238.0            12.0
153.0                122      128.0            16.0
...                  ...        ...             ...
9636750.0              1        6.0             NaN
9636751.0              3        NaN             NaN
9636755.0              5        NaN             3.0
9636968.0              1        1.0             NaN
9636970.0              1        NaN             NaN

[12150 rows x 3 columns]

In [73]:
count_data.to_csv("count_data.csv",mode='w')